/* rest */
* {
    box-sizing: border-box;
    margin: 0;
    border:  0;
}

/* classi replicabili */

.row, .row-2{
    border: 1px solid red;
    width: 80%;
    margin: auto;
    font-size: 0;
}

/* riga-1 */

.box {
    height: 500px;
    border: 1px solid black;
    width: 30%;
    display: inline-block;
    background-color: blue;
    margin: 20px 17px;
}


.immagine-1, img {
    width: 100%;
    height: 100%;
}


.row-2 {
    /* background-color: yellow; */
    height: 100px;
}

.box-2 {
    border: 1px solid black;
    width: 30%;
    display: inline-block;
    /* background-color: blue; */
    margin: 0 20px;
    height: 100px;
}

.marca {
    font-size: 15px;
}

.nome-prodotto {
    font-size: 20px;
    font-weight: bold;
    margin-top;
}

.prezzo-scontato {
    font-size: 15px;
    color: red;
}

.prezzo-vecchio {
    font-size: 15px;
    margin-left: 5px;
}