/* rest */
* {
    box-sizing: border-box;
    margin: 0;
    border:  0;
}

/* classi replicabili */

main{
    width: 900px;
    margin:30px auto;
    font-size: 0;
}

.card {
    width: 300px;
    display: inline-block;
    font-size: 14px;
    text-align: middle;
    padding: 20px;
}

.card-image img {
    width: 100%;
}

.card-image {
    position: relative;
}

.heart {
    width: 30px;
    position: absolute;
    top: 25px;
    right: 0;
    background-color: white;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}

.heart:hover {
    color: red;
}

.label {
    position: absolute;
    left: 0;
    bottom: 25px;
    color: white;
}

.card-discount {
    background-color: red;
}

.card-tag {
    background-color: green;
}

.overlay {
    display: none;
}

.card-image:hover .overlay{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.price {
    color: red;
    font-weight: bolder;
}

.price-old {
    text-decoration: line-through;
}